.slideshow {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 90%;
    margin: auto;
    height: 75vh;
  }
  .slide {
    flex: 1 0 100%;
    position: relative;
    text-align: center;
    transition: opacity 0.5s ease;
  }
  
  .slide>img {
    height: 100%;
    width: 100%;
   
    
    object-fit: cover;
    
   
    background-repeat: no-repeat;
  }
  